./gradle
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileContent/fileContent.lock
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/jarAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/javaCompile/taskHistory.bin
./idea
.gradle
.idea